.login-form {
  width: auto;
  justify-content: center;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.login {
  min-height: 85vh;
}

.login-container {
  color: white;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
